<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>OnlineCinema</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.onlinecinema.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.onlinecinema.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovie</display-name>
    <servlet-name>AddMovie</servlet-name>
    <servlet-class>com.onlinecinema.servlet.AddMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovie</servlet-name>
    <url-pattern>/AddMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMovie</display-name>
    <servlet-name>UpdateMovie</servlet-name>
    <servlet-class>com.onlinecinema.servlet.UpdateMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovie</servlet-name>
    <url-pattern>/UpdateMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveMovie</display-name>
    <servlet-name>RemoveMovie</servlet-name>
    <servlet-class>com.onlinecinema.servlet.RemoveMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveMovie</servlet-name>
    <url-pattern>/RemoveMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseTickets</display-name>
    <servlet-name>PurchaseTickets</servlet-name>
    <servlet-class>com.onlinecinema.servlet.PurchaseTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseTickets</servlet-name>
    <url-pattern>/PurchaseTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeOrCancelTickets</display-name>
    <servlet-name>ChangeOrCancelTickets</servlet-name>
    <servlet-class>com.onlinecinema.servlet.ChangeOrCancelTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrCancelTickets</servlet-name>
    <url-pattern>/ChangeOrCancelTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMovies</display-name>
    <servlet-name>ShowMovies</servlet-name>
    <servlet-class>com.onlinecinema.servlet.ShowMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMovies</servlet-name>
    <url-pattern>/ShowMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseTicket</display-name>
    <servlet-name>PurchaseTicket</servlet-name>
    <servlet-class>com.onlinecinema.servlet.PurchaseTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseTicket</servlet-name>
    <url-pattern>/PurchaseTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Purchase</display-name>
    <servlet-name>Purchase</servlet-name>
    <servlet-class>com.onlinecinema.servlet.Purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/Purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTickets</display-name>
    <servlet-name>CancelTickets</servlet-name>
    <servlet-class>com.onlinecinema.servlet.CancelTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTickets</servlet-name>
    <url-pattern>/CancelTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPurchasedTickets</display-name>
    <servlet-name>ViewPurchasedTickets</servlet-name>
    <servlet-class>com.onlinecinema.servlet.ViewPurchasedTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPurchasedTickets</servlet-name>
    <url-pattern>/ViewPurchasedTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.onlinecinema.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMoviesUser</display-name>
    <servlet-name>ShowMoviesUser</servlet-name>
    <servlet-class>com.onlinecinema.servlet.ShowMoviesUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMoviesUser</servlet-name>
    <url-pattern>/ShowMoviesUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPurchasedTicketUser</display-name>
    <servlet-name>ViewPurchasedTicketUser</servlet-name>
    <servlet-class>com.onlinecinema.servlet.ViewPurchasedTicketUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPurchasedTicketUser</servlet-name>
    <url-pattern>/ViewPurchasedTicketUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseUser</display-name>
    <servlet-name>PurchaseUser</servlet-name>
    <servlet-class>com.onlinecinema.servlet.PurchaseUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseUser</servlet-name>
    <url-pattern>/PurchaseUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketUser</display-name>
    <servlet-name>CancelTicketUser</servlet-name>
    <servlet-class>com.onlinecinema.servlet.CancelTicketUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketUser</servlet-name>
    <url-pattern>/CancelTicketUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketRequest</display-name>
    <servlet-name>CancelTicketRequest</servlet-name>
    <servlet-class>com.onlinecinema.servlet.CancelTicketRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketRequest</servlet-name>
    <url-pattern>/CancelTicketRequest</url-pattern>
  </servlet-mapping>
</web-app>